footer{
      background-color: var(--primary-green);
      height: 150px;
      display: flex;
      flex-direction: column;
      font-family: 'Ubuntu', sans-serif;
      text-align: center;
}

.wavesBackground_footer{
    transform: rotate(180deg);
    margin-bottom: -5px;
    margin-top: 30px;
}

.footerText{
    margin-top: 40px;
}